<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Student List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<p>Hello world!</p>
<table id="studentTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.age}"></td>
    </tr>
    </tbody>
</table>

<form id="submitForm" method="post" th:action="@{/displayStudent}">
    <input type="hidden" id="formData" name="formData">
    <button type="submit" id="submitBtn">Submit Students</button>
</form>


<script>
    $(document).ready(function() {
       $("#submitBtn").click(function(event) {
         event.preventDefault(); // Prevent default form submission

         // Get student data from the table
         var students = [];
         $("#studentTable tbody tr").each(function() {
           var id = $(this).find("td:nth-child(1)").text();
           var name = $(this).find("td:nth-child(2)").text();
           var age = $(this).find("td:nth-child(3)").text();
           students.push({ id: id, name: name, age: age });
         });

         // Convert student data to JSON string
         const jsonData = JSON.stringify(students);

         // Set the hidden field value
         $("#formData").val(jsonData);

         // Submit the form manually
         $("#submitForm").submit();
       });
     });
</script>
</body>
</html>